@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  margin: 0;

  font-family: "GmarketSansMedium", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

header {
  height: 40%;

  font-weight: bold;
  display: block;
  justify-content: space-between;
  align-items: center;
}

.App {
  /* margin: 0; */

  background-color: #d9d9d9;
}

.wrapper {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.above-rectangle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;

  background-color: #ba0c2f;
}

.below-rectangle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;

  background-color: #ba0c2f;
}
