.Background header a {
  padding-top: 100px;
  font-style: normal;
  font-weight: 1000;
  font-size: 35px;
  color: black;
  text-decoration: none;
  position: relative;
  top: 70px;
  left: 40px;
}

.Background header a span {
  color: #fc5230;
}

.above-rectangle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;

  background-color: #b93234;
}

.below-rectangle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;

  background-color: #b93234;
}
