div.above-rectangle {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 5;
  background-color: #b93234;
}

div.below-rectangle {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  z-index: 5;
  background-color: #b93234;
}

/* 
.Background {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */