.test-image {
  position: absolute;
  top: 200px;
  left: 1160px;
  width: 300px;
  height: 200px;
  border: 1px solid #89969f;
  background: #fff;
}

.test-image img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: contain;
}

.slide-image {
  /* position: absolute;*/
  width: 300px;
  height: 200px;
  border: 1px solid #89969f;
  background: #fff;
}

.slide-image img {
  /* position: absolute; */

  width: 300px;
  height: 200px;
}

img {
  width: 100%;
  height: auto; /* This could be 100% as well, it depends on what you want */
  object-fit: cover; /* This will make the image cover the entire container, potentially cutting off parts of the image */
}