.info-box {
  position: absolute;
  top: 430px;
  left: 1160px;
  width: 300px;
  height: 400px;
  border: 1px solid #89969f;
  background: #fff;
}

.info-title {
  font-weight: bold;
  color: #000;
  position: absolute;
  top: 40px;
  left: 120px;
  font-size: 14px;
}

.info-list {
  font-weight: bold;
  position: absolute;
  top: 70px;
  left: -20px;
  margin-right: 20px;
  list-style: none;
  line-height: 250%;
  font-size: 13px;
  color: #55595b;
}

.info-list span {
  font-weight: bold;
  font-size: 12px;
  color: #000;
}

.info-list span a {
  display: inline-block;
}
