.requirement {
  position: absolute;
  top: 200px;
  left: 220px;
  width:80px;
  height: 50px;
  border-left: 1px solid #89969F;
  border-bottom: 1px solid #89969F;
  border-top: 1px solid #89969F;
  background: #fff;
}

.requirement a {
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  color: #55595B;
  font-weight: bold;
  position: absolute;
  left: 12px;
  top:15px;
}

.requirement a:hover {
  color : #E27B7C;
}

.company-trend {
  position: absolute;
  top: 250px;
  left: 220px;
  width:80px;
  height: 50px;
  border-left: 1px solid #89969F;
  border-bottom: 1px solid #89969F;
  background: #fff;
}

.company-trend a {
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  color: #55595B;
  font-weight: bold;
  position: absolute;
  left: 8px;
  top:16px;
}

.company-trend a:hover {
  color: #E27B7C;
}