.background {
  border: 1px solid #89969f;
  width: 800px;
  height: fit-content;
  margin-left: 300px;
  top: 47.5px;
  padding: 20px;
  position: relative;
  margin-bottom: 10vh;
}

.chart {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.headline-label {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.headline-label span {
  font-size: 12px;
  font-weight: normal;
}

.newsList {
  margin-top: 20px;
}

.companyLabel {
  font-weight: bold;
  position: absolute;
  left: 570px;
  top: 230px;
}

.companyName {
  color: #b93234;
}
