.background {
  border: 1px solid #89969f;
  width: 800px;
  height: 620px;
  margin-left: 300px;
  margin-top: -76px;
  background: #fff;
  overflow: auto;
}

.chart {
  width : auto;
  height: 400px;
  position: relative;
  top: -570px;
  left: 450px;
}

.companyLabel{
  font-weight: bold;
  position: absolute;
  left: 570px;
  top: 230px;
}

.companyName {
  color: #B93234;
}

.headline-label {
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 660px;
  left: 570px;
}

.headline-label span {
  text-align: center;
  font-size: 12px;
  font-weight: medium;
}