.container {
  width: 70vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin: 10vh auto 5vh;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.highlight {
  color: #ba0c2f;
  font-weight: bold;
  /* Add any other desired styles */
}

.text {
  font-weight: bold;
  font-size: 24px;
  margin-top: 30px;
  text-align: center;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.btn-container div {
  margin: 10px;
}

.checkbox {
  display: none;
}

.btn {
  padding: 10px 20px;
  background-color: #e0e0e0;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover,
.checkbox:checked + label {
  background-color: #ba0c2f;
  color: white;
}

.btn:last-child {
  margin-right: 0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.reset-button {
  padding: 10px 40px;
  border: none;
  margin: 0 20px;
  border: 2px solid #ba0c2f;
  background-color: white;
  color: #ba0c2f;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button {
  padding: 10px 40px;
  border: none;
  margin: 0 20px;
  background-color: #ba0c2f;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selected-checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.selected-checkbox {
  /* display: inline-block; */
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.selected-text {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
