.background {
  width: 52vw;
  height: 55vh;
  margin-left: 18vw;
  margin-bottom: 0vh;
}

.text {
  font-weight: bold;
  font-size: large;
  margin-top: 4vh;
}

.box1,
.box2 {
  margin-top: 1vh;
  border: 1px solid #89969f;
  background: #fff;
  width: 500px;
  height: 250px;
  position: absolute;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: large;
  left: 250px;
  top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px; /* Rounded top corners */
  overflow: hidden;
}

.box1 table,
.box2 table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.box1 td,
.box2 td {
  width: 50%;
  padding: 15px;
  text-align: center;
  height: 50px; /* Set a fixed height for the table cells */
  vertical-align: middle; /* Center the content vertically */
  box-sizing: border-box; /* Include padding and border in the total height */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflow to maintain a consistent size */
  border-radius: 15px; /* Rounded bottom corners */
}

.box1 {
  left: 250px;
  top: 250px;
}

.box2 {
  left: 850px;
}

.box3 {
  border: 1px solid #89969f;
  width: 1100px;
  height: 250px;
  position: absolute;
  left: 250px;
  top: 570px;
  margin-top: 1vh;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  font-weight: bold;
}

.box3 table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.box3 tr {
  width: 100%;
  border: 1px solid #89969f;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.box3 tr:hover {
  background-color: rgba(186, 12, 47, 0.144);
}

.box3 td {
  width: 50%;
  padding: 15px;
  text-align: center;
}

.contents {
  display: block;
  float: left;
  margin-bottom: 1vh;
}

.hilight {
  color: #b93234;
}

.label3 span {
  color: #b93234;
}

.label1 {
  font-weight: bold;
  position: absolute;
  top: 220px;
  left: 250px;
}

.label2 {
  font-weight: bold;
  position: absolute;
  top: 220px;
  left: 850px;
}

.label3 {
  font-weight: bold;
  position: absolute;
  margin-top: 20px;
  left: 250px;
  top: 520px;
}

.emptyTable {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: bold;
  color: #555;
}

.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableContainer table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.tableContainer td {
  border: 1px solid #89969f;
  padding: 10px;
  text-align: center;
}

.box1 td:hover,
.box2 td:hover {
  background-color: rgba(186, 12, 47, 0.144);
  cursor: pointer;
}

.btn {
  margin-left: 5px;
  color: #333;
  font-size: 18px;
}

.btn:hover {
  color: #b93234;
}
