ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #828282;
  font-size: 20px;
}
button {
  border: 0;
  color: #828282;
  font-size: 20px;
}
.navbar {
  margin-top: 50px;
  display: flex;
}
.navbar li {
  text-align: center;
  flex: 1;
  padding: 10px;
}

.title {
  padding-top: 100px;
  font-style: normal;
  font-weight: 1000;
  font-size: 35px;
  color: black;
}

.title span {
  color: #fc5230;
}
