a {
position: relative;
text-align: center;
}

.headline {
  display: flex;
  flex-direction: column; /* or row for a horizontal layout */
  align-items: center; /* centers items along the cross axis */
  justify-content: center; /* centers items along the main axis */
}