a {
position: relative;
text-align: center;
}

.headline {
position: relative;
left: 350px;
bottom: 1060px;
}

.positive {
  background-color: #e0e0e0;
  width: 200px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  line-height: 5vh;
  text-align: center;
}

.positive a {
  color: inherit;
  text-decoration: none;
}


.negative {
  background-color: #e0e0e0;
  width: 200px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  line-height: 5vh;
  text-align: center;
  margin-top: 50px;
}


.negative a {
  color: inherit;
  text-decoration: none;
}

.neutral {
  background-color: #e0e0e0;
  width: 200px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  line-height: 5vh;
  text-align: center;
  margin-top: 50px;
}


.neutral a {
  color: inherit;
  text-decoration: none;
}

.p_list {
  background-color: #e0e0e0;
  padding: 10px;
  width: 700px;
  margin-top: 10px;
  border-radius: 20px;
}

.neg_list {
  background-color: #e0e0e0;
  padding: 10px;
  width: 200px;
  width: 700px;
  margin-top: 10px;
  border-radius: 20px;
}

.neu_list {
  background-color: #e0e0e0;
  padding: 10px;
  width: 700px;
  margin-top: 10px;
  border-radius: 20px;
}