.background {
  width: 52vw;
  height: 60vh;
  margin-left: 18vw;
  margin-bottom: 0vh;
  overflow-y: scroll;
}

.text {
  font-weight: bold;
  font-size: large;
}

.inner-text {
  margin-top: 2vh;
  margin-left: 0.6vw;
}

.inner-box {
  margin-left: 0.6vw;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 20vh;
}

.box {
  margin-top: 1vh;
  border: 1px solid #89969f;
  background: #fff;
}

.rank {
  width: 20vw;
  height: 20vh;
  margin-left: 18vw;
}

.how {
  width: 30vw;
  height: 20vh;
  margin-left: 2vw;
}

.next {
  margin-top: 4vh;
  margin-left: 2vw;
}

.sub-text {
  margin-top: 4vh;
  margin-left: 18vw;
}

.contents {
  display: block;
  margin-bottom: 2vh;
}

.clicked-job {
  color: #b93234;
}
