.background {
  width: 70vw;
  height: 65vh;
  margin-left: 18vw;
  margin-bottom: 0vh;
  overflow-y: scroll;
  margin-top: 1vh;
  background: #fff;
  border: 1px solid #89969f;
}

.sub-text {
  margin-top: 4vh;
  margin-left: 18vw;
}

.clicked-job {
  color: #b93234;
}

.text {
  font-weight: bold;
  font-size: large;
}

.label1 {
  font-weight: bold;
  font-size: large;
  margin-left: 2vw;
  margin-top: 5vh;
}

.inner-box1 {
  border: 1px solid #89969f;
  margin-top : 2vh;
  margin-left: 2vw;
  justify-content: center;
  align-items: center;
  width: 65vw;
  height: 25vh;
}

.label2 {
  font-weight: bold;
  font-size: large;
  margin-left: 2vw;
  margin-top: 5vh;
}

.label2 span {
  color: #b93234;
}

.inner-box2 {
  border: 1px solid #89969f;
  margin-top : 2vh;
  margin-left: 2vw;
  justify-content: center;
  align-items: center;
  width: 65vw;
  height: 25vh;
}

.label3 {
  font-weight: bold;
  font-size: large;
  margin-left: 2vw;
  margin-top: 5vh;
}

.label3 span {
  color: #b93234;
}

.inner-box3 {
  border: 1px solid #89969f;
  margin-top : 2vh;
  margin-left: 2vw;
  justify-content: center;
  align-items: center;
  width: 65vw;
  height: 25vh;
}


/* 랭킹 라벨 */

.rank1 {
  color: #BA0C2F;
  font-weight: bold;
  font-size: 24px;
  margin-top : 5.5vh;
  margin-left: 2vw;
}

.rank2 {
  color: #8B0C26;
  font-weight: bold;
  font-size: 24px;
  margin-top : 2vh;
  margin-left: 2vw;
}

.rank3 {
  color: #3E1112;
  font-weight: bold;
  font-size: 24px;
  margin-top : 2vh;
  margin-left: 2vw;
}