.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content; /* Adjust the width based on your needs */
  margin-left: auto;
  margin-right: auto;
}

.selectionBox {
  margin-bottom: 10px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.addButton {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #fff;
  color: #ba0c2f;
  border: 1px solid #ba0c2f;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #850722;
}

.submitButton {
  padding: 10px 20px;
  background-color: #ba0c2f;
  color: #fff;
  border: 1px solid #ba0c2f;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 5vh;
}
.selectionTable {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 3vh;
}

.selectionTable th {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: left;
}

.selectionTable td {
  padding: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selectionTable td select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

.selectionTable td button {
  margin-right: 5px;
  padding: 8px;
  background-color: #fff;
  color: #ba0c2f;
  border: 1px solid #ba0c2f;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.selectionTable td button:hover {
  background-color: #850722;
  color: #fff;
}

.addButton {
  padding: 8px;
  background-color: #fff;
  color: #ba0c2f;
  border: 1px solid #ba0c2f;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #850722;
  color: #fff;
}

.selectStyles {
  padding: 4px 6px; /* Adjust the padding to make it smaller */
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 12px; /* Adjust the font-size to make it smaller */
}

.selectionBoxContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.selectionBoxContainer select {
  margin-right: 8px;
}

.selectionBoxContainer button {
  margin-left: 8px;
}

.text {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  margin: 20px;
  font-weight: bold;
}

.highlight {
  color: #ba0c2f;
  font-weight: bold;
  /* Add any other desired styles */
}

.error {
  border: 1px solid red;
}

.notError {
  border: 1px solid #ccc;
}
