/* 
.signin {
  padding: 20px;
  margin-bottom: 20px;
} */

.sign {
  /* 전체화면 바꾸기 */
  margin-top: 70px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  position: relative;
  background-color: white;
}

.signin-sub {
  /* margin-top: 30px; */
  display: flex;
  font-size: 10px;
  color: grey;
}

.signin-sub .saveId {
  margin-right: 120px;
}

.signin-sub a {
  text-decoration: none;
  color: gray;
}

.signin-sub a:link {
  color: grey;
}

.Info {
  margin-bottom: 50px;
}

.signF-bt {
  background-color: #ba0c2f;
  border: 2px solid white;
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}

.signS-bt {
  margin-top: 50px;
  background-color: white;
  border: 2px solid #ba0c2f;
  font-size: 30px;
  color: #ba0c2f;
  margin-bottom: 10vh;
  padding: 20px;
}
