.group {
  color: #000;
  margin-top: 10px;
  margin-left: 45vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
}

.nav {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.group .nav:hover {
  color: #fc5230;
  text-decoration: underline;
}

.userTag {
  margin-right: 25px;
}

.separator {
  margin: 0 5px;
}

.authLinks {
  display: flex;
  align-items: center;
}

.authLinks p {
  margin: 0 5px;
}

.authLinks .nav {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.authLinks .nav:hover {
  color: #fc5230;
  text-decoration: underline;
}