.background {
  width: 70vw;
  height: 75vh;
  margin-left: 18vw;
  margin-bottom: 0vh;
  overflow-y: scroll;
  margin-top: 1vh;
  margin-bottom: 100px;
  background: #fff;
}

.text {
  font-weight: bold;
  font-size: large;
}

.inner-text {
  margin-top: 5vh;
  margin-left: 0.6vw;
}

.inner-box {
  margin-left: 0.7vw;
  justify-content: center;
  align-items: center;
  width: 68vw;
  height: 28vh;
}

.box {
  margin-top: 1vh;
  border: 1px solid #89969f;
  background: #fff;
}

.rank {
  width: 70vw;
  height: 20vh;
  margin-left: 18vw;
  display: flex;
  justify-content: center; /* Horizontal center alignment */
  align-items: center; /* Vertical center alignment */
}

.how {
  width: 30vw;
  height: 20vh;
  margin-left: 2vw;
}

.next {
  margin-top: 4vh;
  margin-left: 1vw;
}

.sub-text {
  margin-top: 4vh;
  margin-left: 18vw;
}

.contents {
  display: block;
  /* float: left; */
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.clicked-job {
  color: #b93234;
}

.ranklist {
  text-decoration: none;
}

.notice {
  margin-top: 10px;
}

.anker {
  text-decoration: none;
  margin-right: 55vw;
  color: #000;
  font-weight: 500;
}