.background {
  width: 70vw;
  margin-left: 18vw;
  margin-bottom: 0vh;
  margin-top: 1vh;
  margin-bottom: 100px;
  background: #fff;
}

.text {
  font-weight: bold;
  font-size: large;
}

.inner-text {
  margin-top: 3vh;
  margin-left: 2vh;
}

.inner-box {
  margin-left: 0.7vw;
  /* justify-content: center;
  align-items: center; */
  width: 68vw;
  height: 28vh;
}

.box {
  margin-top: 1vh;
  border: 1px solid #89969f;
  background: #fff;
}

.rank {
  width: 70vw;
  /* height: 20vh; */
  margin-bottom: 2vw;
  margin-left: 18vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.how {
  width: 30vw;
  height: 20vh;
  margin-left: 2vw;
}

.next {
  margin-top: 4vh;
  margin-left: 1vw;
}

.sub-text {
  margin-top: 7vh;
  margin-bottom: 4vh;
  margin-left: 6vw;
  text-align: center;
  font-size: 24px;
}

.contents {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.left-align {
  float: left;
}

.clicked-job {
  color: #b93234;
}

.rank1 {
  font-weight: bold;
  font-size: 24px;
  margin-top: 2vh;
  margin-left: 2vw;
  color: rgba(186, 12, 47, 1);
}

.rank2 {
  font-weight: bold;
  font-size: 24px;
  margin-top: 2vh;
  margin-left: 2vw;
  color: rgb(169, 11, 43);
}

.rank3 {
  font-weight: bold;
  font-size: 24px;
  margin-top: 2vh;
  margin-left: 2vw;
  color: rgb(147, 10, 37);
}

.rank4 {
  font-weight: bold;
  font-size: 24px;
  margin-top: 2vh;
  margin-left: 2vw;
  color: rgb(112, 7, 28);
}

.rank5 {
  font-weight: bold;
  font-size: 24px;
  margin-top: 2vh;
  margin-left: 2vw;
  color: rgb(61, 4, 15);
}
.notice {
  margin-top: 10px;
}

.anker {
  text-decoration: none;
  margin-right: 55vw;
  font-weight: bold;
  color: black;
}

.list {
  position: relative;
  justify-content: center;
  top: 1vh;
  list-style-type: none;
  padding: 0;
}

.list li {
  margin-bottom: 10px;
}

.list li a {
  /* color: #333; */
  text-decoration: none;
  transition: color 0.3s;
}

.list li a:hover {
  color: #ba0c2f;
}

.btn {
  margin: 10px;
  padding: 15px 30px;
  font-size: large;
  background-color: #e0e0e0;
  color: #333;
  text-decoration: none;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.selected {
  background-color: #ba0c2f;
  color: white;
}

.btn:hover {
  background-color: #ba0c2f;
  color: white;
}

.btn:last-child {
  margin-right: 0;
}

